/* /////////////////////////////////////////////////
    Main
///////////////////////////////////////////////// */

body {
  background-color: black;
  background-image: url('../images/photoBKG_L.jpg');
  background-position: top center;
  background-repeat: no-repeat;
  background-size: 115%;
}

.center {
  margin: 0 auto;
  width: 75%;
}

.content {
  background-color: rgba(253, 253, 253, 0.98);
  border-radius: 4px;
  border-style: double;
  border-width: 10px;
  padding: 10px;
}

h1 {
  font-family: 'Chewy', cursive;
  margin: 0;
  text-align: right;
  color: #111;
  letter-spacing: 3px;
}

p {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  text-indent: 25px;
  letter-spacing: -1px;
  text-align: justify;
  line-height: 20px;
  margin-bottom: 5px;
}

.embed-responsive {
  filter: drop-shadow(3px 3px 0px #fdc600);
  border: 5px solid #111111;
  padding-bottom: 55.25%;
}

.left-side {
  padding-right: 5px;
}

.right-side {
  padding-left: 5px;
}
/* /////////////////////////////////////////////////
  Navbar
///////////////////////////////////////////////// */

.navbar {
  font-family: 'Chewy', cursive;
  letter-spacing: 2px;
  margin-bottom: 10px;
  margin-top: 50px;
}

.navbar-brand {
  background-image: url('../images/logo_sm.png');
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
  height: 150px;
  margin: -50px -20px;
  padding: 0;
  width: 525px;
  filter: drop-shadow(-4px 2px 5px #222);
}

.navbar-nav {
  float: right;
  font-size: 25px;
  margin-top: 10px;
}

ul.navbar-nav {
  background-color: rgba(253, 253, 253, 0.98);
  border-color: #111;
  border-style: double;
  border-width: 10px;
  list-style-type: none;
  margin: 0;
  overflow: hidden;
  padding: 0;
}

.navbar-nav li {
  float: left;
}

.navbar-nav li:first-child {
  padding-left: 10px;
}

.navbar-nav li:last-child {
  padding-right: 10px;
}

.navbar-nav li a {
  color: #111;
  cursor: pointer;
  display: block;
  line-height: 18px;
  padding: 14px 12px;
  text-align: center;
  user-select: none;
  -webkit-user-drag: none;
}

.navbar-nav li a:hover {
  color: #fdc600;
  text-shadow: 2px 2px #111;
  text-decoration-line: none;
}

/* /////////////////////////////////////////////////
  About
///////////////////////////////////////////////// */

.about-poster {
  filter: drop-shadow(3px 3px 0px #fdc600);
  border: 5px solid #111111;
}

.text-underline {
  text-decoration-line: underline;
  text-decoration-color: #fdc600;
}

.about-headline h3 {
  font-weight: bold;
  text-align: right;
  margin-top: 10px;
}

.about-text p {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  text-indent: 25px;
  letter-spacing: 0px;
  text-align: justify;
  line-height: 24px;
  margin-bottom: 5px;
}

/* /////////////////////////////////////////////////
  Bands
///////////////////////////////////////////////// */

.band-list {
  padding-left: 0;
  padding-right: 5px;
}

.band-list img {
  display: block;
  width: 86%;
  margin-left: 15px;
  padding-top: 5px;
  cursor: pointer;
}

.band-list img:hover {
  filter: drop-shadow(-2px -2px 0px #fdc600);

}

.band-list img.active {
  filter: drop-shadow(2px 2px 0px #fdc600);
}

.band-title {
  color: #111;
  font-family: 'Chewy', cursive;
  font-size: 40px;
  letter-spacing: 1px;
  margin: 0;
  padding-bottom: 5px;
  padding-top: 15px;
  filter: drop-shadow(-2px 2px 0px #fdc600);
}

.band-description p {
  padding-right: 5px;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  text-indent: 42px;
  letter-spacing: 0px;
  text-align: justify;
  line-height: 22px;
  margin-bottom: 10px;
}

/* /////////////////////////////////////////////////
  Shop
///////////////////////////////////////////////// */

.shop .left-side img {
  padding: 13px 0;
  background-color: black;
}

.shop .left-side img,
.shop .right-side img {
  filter: drop-shadow(3px 3px 0px #fdc600);
  border: 5px solid #111111;
}

.shop-haines,
.shop-posters {
  margin-top: 10px;
}